# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Development files
.env
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Git related
.git/
.gitignore
.github/

# Docker related
Dockerfile
.dockerignore

# Local data
data/
*.db

# Editor directories
.idea/
.vscode/

# Log files
*.log
